%section#Article-new
  = render template: 'articles/new'
%section#Article-index
  - if @articles.present?
    = render @articles, graph: @graph
  - else
    %hr
    %h5 検索結果0件
%section#Article-paginate
  = link_to_next_page @articles,
                      'もっと見る',
                      id: 'more_link',
                      remote: true,
                      class: "span5 btn",
                      disable_with: "Loading....",
                      style: "margin:50px 1px 50px 70px;color:#111111;"
%br