%section#Article-new
  = render template: 'articles/new'
%section#Article-index
  - @articles.each do |article|
    = render 'articles/article', article: article, graph: @graph
%section#Article-paginate
  = paginate @articles
%br