%section#Article-new
  .row-fluid
    .span7#line
      = render template: 'articles/new'
%section#Article-index
  - if @articles.present?
    = render @articles
  - else
    %hr
    %h5 0件
%section#Article-paginate
  .row-fluid
    .span2
    .span5
      = link_to_next_page @articles,
                          'もっと見る',
                          id: 'more_link',
                          remote: true,
                          class: "span10 btn",
                          disable_with: "<i class=\"icon-spinner icon-spin icon-large\"></i> Loading...",
                          style: "margin:50px 1px 45px 1px;color:#111111;"
    .span5
%br