%section#Article-new
  = render template: 'articles/new'
%section#Article-index
  - if @articles.present?
    - @articles.each do |article|
      = render 'articles/article', article: article, graph: @graph
  - else
    %hr
    %h5 検索結果0件
%section#Article-paginate
  = link_to_next_page @articles,
                      'more',
                      id: 'more_link',
                      :remote => true
%br