%section#Article-new
  = render template: 'articles/new'
%section#Article-index
  - if @articles.present?
    - @articles.each do |article|
      = render 'articles/article', article: article, graph: @graph
  - else
    %hr
    %h5 検索結果0件
%section#Article-paginate
  = paginate @articles
%br