%h3 自分が投稿したイベント
%section#Article-index
  = render @articles
%section#Article-paginate
  .row-fluid
    .span2
    .span5
      = link_to_next_page @articles,
                          'もっと見る',
                          id: 'more_link',
                          remote: true,
                          class: "span10 btn",
                          disable_with: "Loading....",
                          style: "margin:50px 1px 45px 1px;color:#111111;"
    .span5
%br