%html#logged_out.no_js.logged_out.tab_switcher_chrome{:lang => ""}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta#viewport{:content => "width=960", :name => "viewport"}/
    %meta{:content => "off", "http-equiv" => "x-dns-prefetch-control"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title ログイン | 登録
    %meta{:content => "noodp,nooydir", :name => "robots"}/
    %meta{:content => "Post anything (from anywhere!), customize everything, and find and follow what you love. Create your own Tumblr blog today.", :name => "description"}/
    %meta{:content => "tumblelog, blog, tumblog, tumbler, tumblr, tlog, microblog", :name => "keywords"}/
    %link{:href => "public/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "https://secure.assets.tumblr.com/images/apple_touch_icon.png?2", :rel => "apple-touch-icon-precomposed"}/
    %meta{:content => "Tumblr", :name => "application-name"}/
    %meta{:content => "#2c4762", :name => "msapplication-TileColor"}/
    %meta{:content => "https://secure.assets.tumblr.com/images/msfavicon.png ", :name => "msapplication-TileImage"}/
    %meta#tumblr_form_key{:content => "!1231375444265|CDGRyhV77iYqmf8g8qfC9GuDmY", :name => "tumblr-form-key"}/
    %link{:href => "https://secure.assets.tumblr.com/assets/styles/global.css?_v=8f3707099cbcdeaaf20ae8fb1c30a331", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://secure.assets.tumblr.com/assets/styles/ja_JP.css?_v=39672336d7e26824e584149008959e2e", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://secure.assets.tumblr.com/assets/styles/landing_pages/logged_out_dashboard.css?_v=d97cfc312a85349c2f6e856cbd4e37f8", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag :logo, :media => "screen"
    %link{:href => "https://secure.assets.tumblr.com/assets/styles/onboarding.css?_v=c0cfa3febb9dc62d5762b6ace1f77286", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://secure.assets.tumblr.com/assets/styles/form_classic_onboarding.css?_v=c38ffefa8833f626fb82d0cc39039d46", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %meta#chromesniffer_meta{:content => "{}", :name => "chromesniffer"}/
    %meta#chromesniffer_meta{:name => "chromesniffer"}/
    = favicon_link_tag
  %body#account_logged_out_dashboard.account_logged_out_dashboard.logged_out.without_auto_paginate.dash_b.layout_onboarding.logged_out.show_form.signup_account.show_password_strength{"data-form-key" => "!1231375444265|CDGRyhV77iYqmf8g8qfC9GuDmY"}
    .ui_dialog_lock
    #fullscreen_post_bg.fullscreen_post_bg{:style => "background-image:url('http://rack.2.mshcdn.com/media/ZgkyMDEzLzA2LzE0L2VjL1N1bW1lckJyZWFrLjcyZTFhLmpwZwpwCXRodW1iCTEyMDB4OTYwMD4/627eb88b/1c6/SummerBreakShaka.jpg');"}
      / <div id="fullscreen_post_bg" class="fullscreen_post_bg" style="background-image:url('http://rack.3.mshcdn.com/media/ZgkyMDEzLzA3LzAyLzg3L3NvY2lhbG1lZGlhLjAwNzMyLmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/6cb5bb52/d32/social-media-day-2013-87.jpg');">
      %img#fullscreen_post_image{:alt => "beckyandfrankからの投稿", :src => "http://rack.0.mshcdn.com/media/ZgkyMDEzLzA3LzExLzAyL3NvY2lhbGRpc2NvLjBjZjFmLmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/325ccd2d/880/social-discovery-apps1.jpg"}/
    .fullscreen_post_footer
      .fullscreen_post_footer_inner
        .footer_legal_links
          %a.login_link.policy_link.terms{:href => "#", :target => "_blank"} 規約
          %a.login_link.policy_link.privacy{:href => "#", :target => "_blank"} プライバシー
        .dash_b_footer_stats
          .stat.stats_blogs
            .number 1.28
            .description 人（単位：1万）がWeekを使用
          .stat.stats_posts
            .number 57.2
            .description 件（単位：1千）の投稿
          .stat.stats_signup
            .number 1 
            .description 登録は簡単
        .fullscreen_post_posted_by.show
          .post_info.just_tumblelog{"data-id" => "56873465158", "data-tumblelog" => "beckyandfrank", :style => "cursor: pointer;"}
            /
              <a href="https://www.facebook.com/masahiro.hisada.7" target="_blank" rel="nofollow" title="作ってる人">
              © 2013
              <strong>Masahiro Hisada </strong>
              </a> All Rights Reserved
            %a#post_avatar_56873465158.post_avatar.root_tumblelog{:href => "https://twitter.com/Kyuden_", :rel => "nofollow", :style => "background-image:url('http://farm9.staticflickr.com/8225/8560365994_32a152cce2_q.jpg')", :target => "_blank", :title => "@kyuden_"}
              %img{:alt => "@kyuden_", :src => "http://farm9.staticflickr.com/8225/8560365994_32a152cce2_q.jpg"}/
    .dash_b_form_container.with_bg.has_subheading
      .dash_b_form_header
        %h1#logo.logo
          %a.logo_anchor{:href => "/"}
        %h2.subheading
          週末やりたいことをつぶやいて
          = succeed "\u{8fd1}\u{304f}\u{306e}\u{540c}\u{671f}\u{3068}\u{9031}\u{672b}\u{3092}\u{697d}\u{3057}\u{3080}\u{30b5}\u{30fc}\u{30d3}\u{30b9}" do
            %br/
      .movie
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "215", :src => "//www.youtube.com/embed/OFb0NaeRmdg?autohide=1&color=white&rel=0&showinfo=0&start=20&theme=light", :width => "360"}
      .dash_b_form
        %button#signup_forms_submit.chrome.big.on_dark.signup_forms_submit.touchy.blue{:onclick => "location.href='/auth/facebook'"}
          %span.account_btn facebook 無料登録/ログイン
      #signup_waiting.signup_waiting
      .tumblr_login_link
        %a.login_link.login
          facebookに許可無く投稿することはありません