%h5
  %i.icon-info-sign
  ヒントタグ
%span.label.label-important
  読書会
%span.label.label-important
  ボルダリング
%span.label.label-important
  エヴァンゲリオン
%span.label.label-important
  ナイトサイクリング
%span.label.label-important
  桐島
%span.label.label-important
  恋話
%span.label.label-important
  飲み会
%span.label.label-important
  スノーボード
%span.label.label-important
  うまい肉
%span.label.label-important
  競馬
%span.label.label-important
  餃子の王将
%span.label.label-important
  TOEIC
%span.label.label-important
  毒女会
%span.label.label-important
  日本代表
%span.label.label-important
  進撃の巨人
%span.label.label-important
  ruby
%span.label.label-important
  化性
%span.label.label-important
  陶芸
%span.label.label-important
  ドライブ
%span.label.label-important
  野球
%span.label.label-important
  ビジネス
%span.label.label-important
  ダンス
%span.label.label-important
  BRUTUS
%span.label.label-important
  怪談
%span.label.label-important
  ドラクエ
%span.label.label-important
  facebook
%span.label.label-important
  ジャニーズ
%span.label.label-important
  乃木坂46
%span.label.label-important
  iphone
%span.label.label-important
  宇多田ヒカル
%span.label.label-important
  ラジオ
%span.label.label-important
  オッパッピー
%span.label.label-important
  2ch
%span.label.label-important
  ツーリング
%span.label.label-important
  富士山
%span.label.label-important
  情熱大陸
%span.label.label-important
  一眼レフ
%span.label.label-important
  夫婦
%span.label.label-important
  プラネタリウム
%span.label.label-important
  WIRED
%span.label.label-important
  千利休
%span.label.label-important
  ヨーロッパ
%span.label.label-important
  祭り
%span.label.label-important
  同姓の友達
%span.label.label-important
  スカイツリー