<html class="no_js logged_out tab_switcher_chrome" id="logged_out" lang="">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=960" id="viewport">
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>ログイン | 登録</title>
    <meta name="robots" content="noodp,nooydir">
    <meta name="description" content="Post anything (from anywhere!), customize everything, and find and follow what you love. Create your own Tumblr blog today.">
    <meta name="keywords" content="tumblelog, blog, tumblog, tumbler, tumblr, tlog, microblog">
    <link rel="shortcut icon" href="https://secure.assets.tumblr.com/favicon.ico?3">
    <link rel="apple-touch-icon-precomposed" href="https://secure.assets.tumblr.com/images/apple_touch_icon.png?2">
    <meta name="application-name" content="Tumblr">
    <meta name="msapplication-TileColor" content="#2c4762">
    <meta name="msapplication-TileImage" content="https://secure.assets.tumblr.com/images/msfavicon.png ">
    <meta name="tumblr-form-key" content="!1231375444265|CDGRyhV77iYqmf8g8qfC9GuDmY" id="tumblr_form_key">
    <link type="text/css" rel="stylesheet" media="screen" href="https://secure.assets.tumblr.com/assets/styles/global.css?_v=8f3707099cbcdeaaf20ae8fb1c30a331">
    <link type="text/css" rel="stylesheet" media="screen" href="https://secure.assets.tumblr.com/assets/styles/ja_JP.css?_v=39672336d7e26824e584149008959e2e">
    <link type="text/css" rel="stylesheet" media="screen" href="https://secure.assets.tumblr.com/assets/styles/landing_pages/logged_out_dashboard.css?_v=d97cfc312a85349c2f6e856cbd4e37f8">
    <%= stylesheet_link_tag :logo, :media => "screen" %>
    <link type="text/css" rel="stylesheet" media="screen" href="https://secure.assets.tumblr.com/assets/styles/onboarding.css?_v=c0cfa3febb9dc62d5762b6ace1f77286">
    <link type="text/css" rel="stylesheet" media="screen" href="https://secure.assets.tumblr.com/assets/styles/form_classic_onboarding.css?_v=c38ffefa8833f626fb82d0cc39039d46">
    <meta name="chromesniffer" id="chromesniffer_meta" content="{}">
    <meta name="chromesniffer" id="chromesniffer_meta">
  </head>
  <body id="account_logged_out_dashboard" class="account_logged_out_dashboard logged_out without_auto_paginate dash_b layout_onboarding logged_out show_form signup_account show_password_strength" data-form-key="!1231375444265|CDGRyhV77iYqmf8g8qfC9GuDmY">
    <div class="ui_dialog_lock"></div>
    <div id="fullscreen_post_bg" class="fullscreen_post_bg" style="background-image:url('http://rack.2.mshcdn.com/media/ZgkyMDEzLzA2LzE0L2VjL1N1bW1lckJyZWFrLjcyZTFhLmpwZwpwCXRodW1iCTEyMDB4OTYwMD4/627eb88b/1c6/SummerBreakShaka.jpg');">
<!--     <div id="fullscreen_post_bg" class="fullscreen_post_bg" style="background-image:url('http://rack.3.mshcdn.com/media/ZgkyMDEzLzA3LzAyLzg3L3NvY2lhbG1lZGlhLjAwNzMyLmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/6cb5bb52/d32/social-media-day-2013-87.jpg');"> -->
      <img id="fullscreen_post_image" src="http://rack.0.mshcdn.com/media/ZgkyMDEzLzA3LzExLzAyL3NvY2lhbGRpc2NvLjBjZjFmLmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/325ccd2d/880/social-discovery-apps1.jpg" alt="beckyandfrankからの投稿">
    </div>
    <div class="fullscreen_post_footer">
      <div class="fullscreen_post_footer_inner">
        <div class="footer_legal_links">
          <a href="#" target="_blank" class="login_link policy_link terms">規約</a>
          <a href="#" target="_blank" class="login_link policy_link privacy">プライバシー</a>
        </div>
        <div class="dash_b_footer_stats">
          <div class="stat stats_blogs">
            <div class="number">1.28</div>
            <div class="description">人（単位：1万）がWeekを使用</div>
          </div>
          <div class="stat stats_posts">
            <div class="number">57.2</div>
            <div class="description">件（単位：1千）の投稿</div>
          </div>
          <div class="stat stats_signup">
            <div class="number">1&nbsp;</div>
            <div class="description">登録は簡単</div>
          </div>
        </div>
        <div class="fullscreen_post_posted_by show">
          <div class="post_info just_tumblelog" data-tumblelog="beckyandfrank" data-id="56873465158" style="cursor: pointer;">
<!--             <a href="https://www.facebook.com/masahiro.hisada.7" target="_blank" rel="nofollow" title="作ってる人">
              © 2013
              <strong>Masahiro Hisada </strong>
            </a> All Rights Reserved -->
            <a href="https://twitter.com/Kyuden_" target="_blank" rel="nofollow" title="@kyuden_" class="post_avatar root_tumblelog" id="post_avatar_56873465158" style="background-image:url('http://farm9.staticflickr.com/8225/8560365994_32a152cce2_q.jpg')">
              <img src="http://farm9.staticflickr.com/8225/8560365994_32a152cce2_q.jpg" alt="@kyuden_">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="dash_b_form_container with_bg has_subheading">
      <div class="dash_b_form_header">
        <h1 id="logo" class="logo ">
          <a href="/" class="logo_anchor"></a>
        </h1>
        <h2 class="subheading">週末やりたいことをつぶやいて
          <br>近くの同期と週末を楽しむサービス
        </h2>
      </div>
              <div class="movie">
            <iframe width="360" height="215" src="//www.youtube.com/embed/OFb0NaeRmdg?autohide=1&color=white&rel=0&showinfo=0&start=20&theme=light" frameborder="0" allowfullscreen></iframe>
        </div>
      <div class="dash_b_form">
        <button class="chrome big on_dark signup_forms_submit touchy blue" id="signup_forms_submit" onclick="location.href='/auth/facebook'">
          <span class="account_btn">facebook 無料登録/ログイン</span>
        </button>
      </div>
      <div class="signup_waiting" id="signup_waiting"></div>
          <div class="tumblr_login_link">
      <a class="login_link login">
        facebookに許可無く投稿することはありません
      </a>
      </div>
    </div>
  </body>
</html>