%section#Watch-index
  %h3 気になるイベント
  = render 'watches/entry', entries: @entries
%section#Watch-paginate
  .row-fluid
    .span2
    .span5
      = link_to_next_page @entries,
                          'もっと見る',
                          id: 'more_watch_entries',
                          remote: true,
                          class: "span10 btn",
                          disable_with: "<i class=\"icon-spinner icon-spin icon-large\"></i> Loading...",
                          style: "margin:50px 1px 45px 1px;color:#111111;"
    .span5
%br