.dash_b .dash_b_form_header #logo a {
    background-image: url("http://farm4.staticflickr.com/3827/9428484664_270faf2bee_o.png");
    margin-left: 9px;
}
 .movie{
	 line-height: 1.2;
	 position: relative;
	left: 50%;
	margin: 8px 0 18px -250px;
	width: 500px;
	text-align: center;
}
.dash_b_form_container.has_subheading {
margin-top: -321px;
}
.dash_b #signup_forms_submit {
position: relative;
height: 5%;
}
body .footer_legal_links, .fullscreen_post_posted_by.show, .fullscreen_post_posted_by.show, .tumblr_login_link {
width: 104%;
}
body .breadcrumb, .comment, .comment p {
font-size: 11px;
}
form {
margin: 0 0 0px;
}
.controls textarea {
height: 28;
font-size: 13px;
}

.comment textarea {
font-size: 11px;
}

.comments li {
line-height: 10px;
}

.comments p {
margin: 0 0 5px;
}
.comments textarea{
	height:28px;
	font-size: 11px;
}
input[type="submit"]{
	padding: 0px 0px 0px;
}
.mutualfriends-name{
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
.user-name{
  font-size: 13px;
  font-weight: bold;
}
.btn-update input[type="submit"] {
padding: 5px 20px 5px;
}

.btn-mail input[type="submit"] {
padding: 10px 5px 10px;
}

.user-name{
  font-size: 13px;
  font-weight: bold;
}

