/**
 * GridSystem for Mobile Display
 */
@media only screen and (max-width: 767px) {

    /* 画面両サイドの余白調整 */
    body {
        width: 100%;
        padding:0;
        margin: 0;
    }
    .navbar .brand{
      margin-left: 0px;
      text-align:center;
    }
    .frame {
      border-left:10px solid #cccccc ; padding: 10px; border-right:10px solid #cccccc;
    }
    #article-line{
      border-top: 20px solid #cccccc;
      margin: 10px -10px;
    }
    .navbar-fixed-top{
      margin-left: 0px;
      margin-right: 0px;
    }
    .navbar-fixed-top .navbar-inner{
      padding: 10px;
    }

    .container-fluid{
        padding-left:0; padding-right: 0;
        margin: 0;
    }
}