/**
 * GridSystem for Mobile Display
 */
@media only screen and (max-width: 767px) {

    /* 画面両サイドの余白調整 */
    body {
        width: 100%;
        padding:0;
        margin: 0;
        background-image:url("http://farm8.staticflickr.com/7446/10169762143_4267efd761_o.jpg");
        background-repeat: repeat-y;
    }
    .navbar .brand {
        margin-left: 0px;
        text-align:center;
    }
    /*
    .frame {
        border-left:10px solid #a9a9a9 ; padding: 10px; border-right:10px solid #a9a9a9;
    }
    */
    .article.Article{
     line-height:100%;
     text-align: center;
     padding: 3px;
     border: 1px solid grey;
     background-color:white;
    }
    .frame{
      border-right:none;
      border-left: none;
    }
    #hint-tag{
        margin-bottom: 20px;
    }

    .navbar-fixed-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-fixed-top .navbar-inner{
      padding: 10px;
    }

    #Article-new .span7{
        width:100%;
        background-color:#F0F0F0;
        margin:5px 5px 5px 0px;

    }
    #new-line{
        background-image: none;
        border: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #new-meg, .white{
        color:black;
    }
    .select-day{
      margin-left:0px;
    }
    .row-fluid .comment-pic .span2{
        width: auto;
    }
}